/*---------------------------------------CABECALHO---------------------------------------*/
.menu{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    min-width: 1134; 
}
p{
    margin-bottom: 0 !important;
}
/*---------------------------------------CORPO---------------------------------------*/
.gradiente{
    margin-top: 4%;
}
.div1{
    display: flex;
    justify-content: space-evenly !important;
    align-items: center ;
}
.imgs2{
    display: flex;
    justify-content: left;
    align-items: center ;
    margin-top: 10px;
}
.logo{
    width: 35px;
    margin-right: 10px;
}
.android{
    margin-right: 10px;
    display: flex;
    justify-content: space-evenly !important;
    align-items: center ;
    border: 1px solid lightslategray;
    padding-left: 16px;
    padding-right: 16px;
    width: 35%;
}
.android:hover{
    background-color: gray;
    color: white;
    transition: 0.3s;
}
.ios{
    display: flex;
    justify-content: space-evenly !important;
    align-items: center ;
    border: 1px solid lightslategray;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #2f3d60;
    color: white;
    width: 35%;

}
.logoIos{
    width: 70px;
    margin-right: 10px;
}
.ios:hover{
    color: white;
    background: gray;
    transition: 0.3s;

}
.cor{
    background-color: #2f3d60;
}
.aMenu{
    color: white;
}
.aMenu:hover{
    color: white;

}
.informacoes{
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
}

@media only screen and (max-width: 950px) {
    .imgs1 {
        display: none !important;
    }
    .div1{
        margin-top: 25%;
    }
    .informacoes{
        width: 98%;
        margin-left: 1% !important;
        font-size: 15px !important;
    }
    .imgs2{
        flex-direction: column;
        justify-content: center;
    }
    .ios{
        margin-top: 5px !important;
        width: 70%;
    }
    .android{
        width: 70%;
        margin-right: 0 !important;
    }
    .menu{
        display: none;
    }
    .pos-f-t{
        display: block !important;
    }
}
.pos-f-t{
    display: none;
}
.navbar-toggler{
    padding: 0% !important;
}
.navbar {
    padding: 0.3rem 0.8rem !important;
}